#table {
    font-family : aral, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

#table td, #table th {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

#table tr th {
    background-color: lightslategray;
}

#table tr:nth-child(even) {
    background-color: lightgrey;
}

#status_message {
    font-size: 1.5rem;
    text-align: center;
}

.btn {
  display: inline-block;
  padding: 5px 10px;
  margin: 0px 20px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  background-color: darkgrey;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px #999;
}

.btn:hover {background-color: lightslategray}

.btn:active {
  background-color: lightslategray;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}